apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: qbittorrent
  name: qbittorrent
  namespace: media
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      enableServiceLinks: false
      securityContext:
        fsGroup: 3100
        supplementalGroups: [3100]
      containers:
        - name: gluetun
          image: ghcr.io/qdm12/gluetun:v3.40.3
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          env:
            - name: VPN_SERVICE_PROVIDER
              value: protonvpn
            - name: VPN_TYPE
              value: wireguard
            - name: TZ
              value: Europe/Stockholm
            - name: DOT
              value: "off"
            - name: DNS_UPSTREAM
              value: "1.1.1.1,8.8.8.8"
            - name: VPN_PORT_FORWARDING
              value: "on"
            - name: PORT_FORWARD_ONLY
              value: "on"
          envFrom:
            - secretRef:
                name: openvpn-secrets
          ports:
            - name: webui
              containerPort: 8080
            - name: torrent-tcp
              containerPort: 6881
              protocol: TCP
            - name: torrent-udp
              containerPort: 6881
              protocol: UDP

        - name: qbittorrent
          image: ghcr.io/linuxserver/qbittorrent:5.1.4
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "3100"
          volumeMounts:
            - mountPath: /config
              name: qbittorrent-config
            - mountPath: /media
              name: media
      volumes:
        - name: qbittorrent-config
          persistentVolumeClaim:
            claimName: qbittorrent-config-pvc
        - name: media
          persistentVolumeClaim:
            claimName: media-pvc
