apiVersion: v1
kind: Service
metadata:
  labels:
    app: qbittorrent
  name: qbittorrent
  namespace: media
spec:
  selector:
    app: qbittorrent
  ports:
  - port: 8080
    name: webui
    targetPort: 8080
    protocol: TCP

  - port: 6881
    name: torrent-tcp
    targetPort: 6881
    protocol: TCP

  - port: 6881
    name: torrent-udp
    targetPort: 6881
    protocol: UDP
  type: ClusterIP
