apiVersion: v1
kind: Service
metadata:
  labels:
    app: linkwarden
  name: linkwarden
  namespace: linkwarden
spec:
  ports:
    - port: 3000
  selector:
    app: linkwarden
    role: app
  type: ClusterIP
