apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "80.6.0"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 1h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/metadata/annotations/prometheus-operator-validated"]
        target:
          kind: PrometheusRule
  values:
    crds:
      enabled: true
    grafana:
      initChownData:
        enabled: false
      defaultDashboardsTimezone: Europe/Stockholm
      sidecar:
        dashboards:
          enabled: true
          label: grafana_dashboard
          labelValue: "1"
          searchNamespace: monitoring
          provider:
            allowUiUpdates: true
      admin:
        existingSecret: kps-secrets
        userKey: admin-user
        passwordKey: admin-password
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls: "true"
        hosts:
          - grafana.christophervestman.com
        tls:
          - secretName: grafana-tls
            hosts:
              - grafana.christophervestman.com
      persistence:
        enabled: true
        type: pvc
        accessModes:
          - ReadWriteOnce
        size: 20Gi
        storageClassName: truenas-pvc-nfs

    prometheus:
      prometheusSpec:
        podMonitorNamespaceSelector:
          matchLabels:
            app.kubernetes.io/component: monitoring
        # Discover all PodMonitors, Probes, PrometheusRules and ServiceMonitors
        podMonitorSelectorNilUsesHelmValues: false
        probeSelectorNilUsesHelmValues: false
        ruleSelectorNilUsesHelmValues: false
        serviceMonitorSelectorNilUsesHelmValues: false
        externalUrl: "https://prometheus.christophervestman.com"
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: truenas-pvc-nfs
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 20Gi
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.tls: "true"
        hosts:
          - prometheus.christophervestman.com
        tls:
          - secretName: prometheus-tls
            hosts:
              - prometheus.christophervestman.com
